* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: rgb(50, 51, 58);
    --background-color:#cac6d8;
    --accent-color: #9dcae0;
}

body {
    /* color: var(--background-color); */
    font-family: Helvetica, Arial, sans-serif;
    color: var(--text-color);
    font-weight: lighter;
}

/* Header */
header {
    padding: 20px 35px;
    background-color: var(--text-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 0 0 0 -5rem;
    background-color: var(--accent-color);
    padding: 0 1rem 0 7rem;
}

nav {
    margin: 7px 0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav ul li {
    display: inline;
}

a {
    text-decoration: none;
}

nav ul li a {
    padding: 10px 15px;
    margin: 0 10px;
    color: var(--accent-color);
    font-size: 1.1vw;
    border-color: var(--accent-color);
    border-bottom: 3px solid;
    text-align: center;
}
/**/

/* Hero */
.hero img{
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}

.hero h3 {
    text-align: right;
    margin: -5rem 1rem 1rem 1rem;
    /* TODO: background color is hidden by the hero image */
    background-color: var(--accent-color);
    padding: 3px;
}
/**/

.content {
    background-color: var(--background-color);
    padding: 5rem 1rem;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-self: flex-start;
}

.content-border {
    border-color: var(--text-color);
    border-left: 3px solid;
    padding-left: 3rem;
    width: 85%;
    margin: 15px;
}

.title {
    font-size: 30px;
    width: 10%;
}

/* Work */
.grid-wrapper {
    display: flex;
    width: 85%;
    justify-content: center;
}

.grid-container {
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
    padding: 1em;
    color: var(--text-color);
}

.grid-item:first-child {
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 3;
}

.grid-item {
    padding: 15px 0;
    border: 4px solid var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* TODO: overlay doesn't cover the image */
    background: rgba(119, 166, 219, 0.2);
}

.grid-item:hover {
    background: none;
}

/* TODO: grid image doesn't fit to the cell */
.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.label {
    background-color: var(--accent-color);
    padding: 10px;
}

.label h4 {
    margin: -5px 0 0 -45px;
}

.label h5 {
    font-size: 13px;
}

/**/

/* Contact Me */
#contact-me nav ul li a {
    color: var(--text-color);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .content-border {
        width: 75%;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .title {
        font-size: 20px;
        width: 5%;
    }

    .content-border {
        width: 65%;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .hero h3 {
        font-size: 15px;
        margin: -4rem 1rem 5px 1rem;
    }

    #contact-me nav ul li a {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}